
body {
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

.menu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.menu-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.menu-visible {
    transform: translateY(0);
    opacity: 1;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0, 128, 0, 0.541);
}

::selection {
    color: white;
    background: rgba(0, 128, 0, 0.5);
}

.story{
	width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.story h2 {
	font-family: 'Staatliches', cursive;
	font-size:30vw;
	flex-shrink:0;
	padding-right:0.3em;
	padding-left:0.3em;
	color:#e10600;
	margin:0;
}

.lightBG {
	background:#313143;
}

.space-20vh {
	height:20vh;
}

.space-30vh {
	height:30vh;
}

.space-50vh {
	height:50vh;
}

.space-100vh {
	height:100vh;
}

.hero-button {
    transition: all 0.3s ease;
}

.cursor-example {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
    mix-blend-mode: difference;
    z-index: 9999;
}

